<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome home : <span th:text="${pseudo}"></span> </h1>
<div class="container">

    <h3><a th:href="@{/auth/register}">Register</a></h3>
    <h3><a th:href="@{/auth/login}">Login</a></h3>
    <h3><a th:href="@{/auth/logout}">logout</a></h3>
    <h3><a th:href="@{/api/user/getAll}">get al users </a></h3>
    <h3><a th:href="@{/message}">messages </a></h3>
    <h3><a th:href="@{/websocket}">websocket </a></h3>
    <h3><a th:href="@{/addContact}">add contact </a></h3>

</div>

</body>
</html>