<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form method="post" th:action="@{/login}" th:object="${user}">
    <label for="pseudo">Nom d'utilisateur :</label>
    <input autofocus id="pseudo" name="pseudo" th:field="*{pseudo}" required type="text"/>

    <label for="password">Mot de passe :</label>
    <input id="password" name="password" th:field="*{password}" required type="password"/>

    <button type="submit">Connexion</button>
</form>


<div th:if="${param.error}">
    <p style="color: red;">Invalid username or password. Please try again.</p>
</div>
</body>
</html>