<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>

<form method="post" th:action="@{/auth/process_register}" th:object="${user}">
    <label for="pseudo">Nom d'utilisateur :</label>
    <input autofocus id="pseudo" name="pseudo" th:field="*{pseudo}" required type="text"/>

    <label for="name">Nom d'utilisateur :</label>
    <input autofocus id="name" name="pseudo" th:field="*{nom}" required type="text"/>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required>

    <button type="submit">Register</button>
</form>

<div class="home">
    <a th:href="@{/}">Return Home</a>
</div>
</body>
</html>
